/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*body*/
body{
    text-align: center;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    font-family: 'Kulim Park', sans-serif;
    font-family: 'Russo One', sans-serif;
}
/*header*/
.header{
    display: flex;
    justify-content: center;
    height: 200px;
    background-image: url(../img/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
}
h1{
    color: rgb(236, 236, 236);
    font-size: 60px;
    letter-spacing: 15px;
    font-family: 'EB Garamond', serif;
    font-family: 'Kulim Park', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Russo One', sans-serif;
    font-family: 'Sigmar', cursive;
}
/*barra de navegacion*/
.navbar{
    display: flex;
    justify-content: center;
    background-color: rgb(223, 223, 223);
    color: white;
    height: 60px;
}
.navbar a{
    padding: 20px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
/*TITULOS*/
.titulo{
    font-size: 60px;
    margin-bottom: 40px;
    font-family: 'Sigmar', cursive;
}
/*PERFIL*/
.perfil{
    background-color: rgb(139, 43, 228);
    color: rgb(0, 0, 0);
}
.perfil img{
    width: 200px;
    height: 210px;
    border-radius: 58%;
    border: 10px solid rgb(255, 255, 255);
}
/*RESEÑA*/
#reseña{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    margin-bottom: 35px;
}
/*LENGUAJES*/
.lenguajes{
    background-color: rgb(104, 17, 185);
    color: black;
}
.list-lenguajes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-lenguajes img{
    width: 180px;
    height: 150px;
    border-radius: 60%;
    border: 10px solid salmon;
    margin: 0 50px;
}
/*Las siguientes propiedades afectan a las secciones (clase content)*/
.content{
    padding: 90px 50px;
}
/*CONTACTO*/
.contact{
    background-color: rgb(139, 43, 228);
    text-align: left;
}
/*ARTICLE*/
.contain{
    max-width: 1055px;
    margin: 0 auto;
}
.contact p{
    max-width: 450px;
    text-justify: auto;
    margin-bottom: 20px;  
}
.btn{
    border: 2px solid white;
    display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
    color: white;
}
/*PROYECTOS*/
#proyectos table{
    margin: auto;
}
#proyectos img{
    width: 200px;
    height: 100px;
}
table td{
    padding: 10px;
}
/*FOOTER*/
.footer table{
    margin: auto;
}
.footer img{
    width: 30px;
    height: 30px;
}
.footer p{
    padding: 50px;
}
#imagen-footer{
    width: 50px;
    height: 50px;
}